@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 22px;
    text-decoration: none;
    color: #000000;
    ;
  }

  ul{
    position: absolute;
    width: 991px;
    height: 203px;
    left: -200px;
    top: 65px;
    
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 87px;
    
    color: #ffffff;
  }

.logob{
    position: absolute;
width: 405px;
height: 235px;
left: 2.05px;
top: 20px;

}
.section1{
    padding: 0;
}
.text1{
    position: absolute;
width: 957px;
height: 330px;
left: 159px;
top: 436px;

font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 45px;

color: #000000;
}

.under{
    position: absolute;
width: 642px;
height: 310px;
left: 176px;
top: 538px;

font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;

color: #9E9E9E;
}

.homepic{
    position: absolute;
width: 733px;
height: 362px;
left: 1144px;
top: 331px;
}

.connectylw1{
    position: absolute;
    top: 750px;
    left: -17px;
    width: 1430px;


   
}

.section2{
    background-color: #9466E0;
    position: absolute;
    width: 1483px;
    height: -350px;
    left: 0px;
    top: 945px;
    padding: 210px;
    margin: auto;

}
.h1lv{
    position: absolute;
width: 825px;
height: 168px;
left: 578px;
top: -25px;

font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.under2{
    position: absolute;
width: 642px;
height: 274px;
left: 665px;
top: 155px;

font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
text-align: center;

color: #9E9E9E;
}
.connectylw2{
    position: absolute;
    width: 1430px;

    left: -0px;
    top: 1050px;
}

.section3{

  position: absolute;

    padding: 100px;
    top: -350px;
    margin: 415px;
    left: -415px;
    width: 1200px;
}

.body33{
  position: absolute;
width: 500px;
height: 285px;
left: 410px;
top: 1450px;

background: #ffffff;
border: 1px solid #a400aa;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px;
box-sizing: border-box;
}

.body44{
  position: absolute;
width: 500px;
height: 285px;
left: 1010px;
top: 1450px;

background: #ffffff;
border: 1px solid #a400aa;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px;
box-sizing: border-box;
}
  

  
.ftc{
position: absolute;
width: 303px;
height: 367px;
left: 813px;
top: 1300px;
font-size: 42px;
font-family: 'JetBrains Mono', monospace;
color: #585858;
}
.txt1{
  position: absolute;
  width: 303px;
  height: 367px;
  left: 595px;
  top: 1445px;
  font-family: 'JetBrains Mono', monospace;
  color: #252525;
}

.txt2{
  position: absolute;
  width: 303px;
  height: 367px;
  left: 1205px;
  top: 1445px;
  font-family: 'JetBrains Mono', monospace;
  color: #252525;
}
.txt3{
  position: absolute;
  width: 303px;
  height: 367px;
  left: 1395px;
  top: 1445px;
  font-family: 'JetBrains Mono', monospace;
  color: #252525;
}

.connectylw3{
  position: absolute;
  width: 1420px;

  left: -0px;
  top: 1755px;
}
.section4{

  position: absolute;
  width: 1923px;
  left: -253px;
  top: 1945px;
  padding: 125;

  background-color: #9466E0;
 

}







.accordion dropdown-arrows{
  top: 900px;
}
.accordion {
    width: 576px;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'JetBrains Mono', monospace;
    padding: 55px;
}

.accordion input {
    display: none;
}

.accordion-item {
    position: relative;
    top: -90px;
    
}

.accordion-header {
    width: 75%;
    height: 50px;
    padding: 20px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    color: #333333;
}

.accordion-text {
    width: 100%;
    font-size: 11pt;
    color: #555555;
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    top: -80px;
    font-size: 20px;
    font-weight: bold;
}

.accordion-text p {
    padding: 10px 30px;
    line-height: 1.68em;
}

.closing {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .accordion-item {
    height: auto;
}

input:checked + .accordion-item .accordion-text,
input:checked + .accordion-item .closing {
    display: block;
}

input:checked + .accordion-item .accordion-text {
    height: auto;
    opacity: 1;
    top: 0;
}

.dropdown-arrows section .accordion-header {
    padding: 0 0 0 30px;
}

.dropdown-arrows section .accordion-header:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 12px;
    top: -2px;
    color: #333333;
}

input:checked + section.accordion-item .accordion-header:before {
    transform: rotate(90deg);
    top: 1px;
}

.wda{
  padding: -1200px;
  top: 400px
 
}

.faqpic{
  position: absolute;

  height: 362px;
  left: 1420px;
  top: 085px;
}


.contact{
  position: absolute;

  left: 350px;

}
.email{
  position: absolute;
 left: 350px;
 top: 450px;

}
.socialicon{
  position: absolute;
  left: 1900px;
  font-weight: bolder;
  top: 450px;
  font-size: 22px;
}

.launchbtn{
  /* Rectangle 79 */


position: absolute;
width: 258px;
height: 60px;
left: 1583px;
top: 56px;

border-radius: 9px;


background-color: white;
color: black;
border: 2px solid #861BC8;





position: absolute;
width: 182px;
height: 43px;
left: 1635px;
top: 72px;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 29px;

background: linear-gradient(93.82deg, #861BC8 -62.73%, rgba(0, 33, 204, 0) 150%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.section5{
  background-color: #9466E0;
}



  .sectioncnc2{
  
    background-image: url("Slide 16_9 - 16zuz (5).png");
    
  width: 1420px;

  left: -0px;
  top: 2255px;
}
